
/* Estilização barra de navegação */
.nav-link, .dropdown-item{
  color: rgb(49, 110, 37) !important;
}

.active{
  background-color: #423B0B;
}

.nav-link:hover:not(.active), .dropdown-item:hover{
  background-color: #4B644A;
  color: #FFD97D !important;
}

/* criação da classe bg-imagem */
.bg-imagem{
  /* para manter a responsividade utilizamos o viewport */
  height: 48vw;
  background-image: url(BACKGROUNDLOJA.jpeg);
  background-repeat: no-repeat;
  /* cover define que a imagem de fundo será ajustada para cobrir a área do container */
  background-size: cover
}

.bg-imagem p{
  font-size: 4vw;
  text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

.nav-link, .dropdown-item{
  color: rgb(136, 255, 0);
}

.plantinha2.png{
  with:10px;
}

main.container {
    background: #C3E8BD;
    min-width: 320px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #4776E6, #8e54e9);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776E6, #8e54e9);
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.footer .social-field {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}

.footer .social-field a {
    text-decoration: none;
    color: white;
}

.footer .social-field.twitter {
    background: linear-gradient(to right, #56a7f2, #468aca);
}

.footer .social-field.facebook {
    background: linear-gradient(to right, #1e3c72, #2a5298);
}



